@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
body {
  margin: 0;
  font-family: 'Lato',
    sans-serif;;
  -webkit-font-smoothing: antialiased;
    background-color: darkslategray;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.detect-error p{
  color: #f7b941;
  text-align: center;
}
